body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to top, #ffffff 24%, #ffbf00 100%);
  margin: 0;
  padding: 0;
}
section {
  padding: 80px 20px;
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  box-shadow: 0 0 10px #0002;
}
.box {
  padding: 20px;
  background-color: rgba(128, 77, 179, 0.15);
  border-radius: 10px;
}
 
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#b1468d;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #ffbf00;
    text-decoration: none;
  }

  img {
    width: 400px;
    height: auto;
  }



  #move {
    margin-left: 18px;
    display: inline-flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;}
    

  @media screen and (min-width: 880px) {
    #move {
      margin-left: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}
      }